header{
    width: 80%;
    border: 5px groove #038a94;
    border-radius: 70px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -20px;
}

header h2{
    font-family: "Blue Ocean", sans-serif;
    font-size: 5vw;
    text-align: center;
    margin: 5px;
}

.separacion{
    display: flex;
    width: 33.333333%;
    justify-content: center;
}

.main-nav li{
    padding-top:4px;
}

.main-nav li a{
    text-decoration: none;
}

.main-nav li a:hover{
    color: white;
}
