footer{
    width: 80%;
    text-align: center;
    border: 5px groove #038a94;
    border-radius: 40px;
    margin-top: 20px;
}

.presentacion{
    display: flex;
    justify-content: space-around;
    font-size: large;
}

.hovered{
    color: #038a94;
}
