@font-face {
    font-family: 'Blue Ocean';
    src: url('./fonts/BLUE OCEAN.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CoolveticaCondensed'; 
    src: url('./fonts/coolvetica condensed rg.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}
  
*{
    color:#ff8400;
    font-family: "CoolveticaCondensed", sans-serif;
}

body{
    background: rgb(3,138,148);
    background: linear-gradient(45deg, rgba(3,138,148,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(255,132,0,1) 100%);  
    height: auto;
}

#root{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


